[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
boto3 = "*"
pytest = "*"
botostubs = "*"
twine = "*"

[packages]
aws-maintenance-window-reporter = {editable = true,path = "."}

[requires]
python_version = "3.8"
